/assets
/cgi-bin
/PHPLoy
/system
/temp
/user_guide
/vendor
/.htaccess
/composer.json
/composer.lock
/contributing.md
/error_log
/license.txt
/phploy.ini
/readme.rst
/scripts.txt
/application/cache

/application/core
/application/language
/application/third_party
/application/userguide

/application/migrations
